.content-wrapper {
  width: 90%;   
}

img {
    width: 90%;
    padding: 20px 0px 20px 40px;
}

h4, h2 {
    text-align: center;
}



/* -------------------- Base Header - Footer Styles -------------------- */

header {
    display: flex;
    justify-content: center;
}

header .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    width: 90% ;
}

header figure {
    
}

header nav {
   width: 90%;
   margin: 30px 0px 60px 0px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

footer .content-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

footer h3 {
    margin: 80px 0px 60px 0px;
}

footer h4 {
    margin-top: 0px;
    margin-bottom: 30px;
}

footer .contact p {
    margin-top: 0px;
    margin-bottom: 60px;
}

footer .social-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    margin-bottom: 60px;
}

footer .social-icons p {
  
   display: flex;
   justify-content: center;
   align-items: center;
}

footer .social-icons p i {
    font-size: 1.3125em; ;
}





/* -------------------- Mobile Styles -------------------- */

.idk {
    margin-bottom: 80px;
    padding: 0px 30px 0px 30px;
     display: flex;
    justify-content: center;
     align-items: center;
     text-align: center;

}

#project {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


#project .description {
    margin: 40px 0px 30px 0px;
    text-align: center;
}

#project .tools {
    margin-bottom: 80px;  
}

#skills h4 {
    margin: 0px 0px 40px 0px
}


.skills-icon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 40px;
}

#skills .tools {
    margin-bottom: 40px;
}

.tools-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 80px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about h2 {
    margin-top: 80px;
    margin-bottom: 60px;
}

#about p {
    margin-top: 40px;
    margin-bottom: 80px;
}








